<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OnlineQuiz.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=D:\Visual C# Projects\OnlineQuiz\Database\Library.sdf;Password=rohils;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>